/* TODO don't use px units */

/* Don't use the OS/browser style */
textarea, input, button, select, option {
    font-family: inherit;
    font-size: inherit;
    text-align: inherit;
    color: inherit;
}

/* Constants */
:root {
    --grey: #2c2f33;
}

body {
    background-color: var(--grey);
    color: var(--grey);
    font-family: Helvetica, Arial, sans-serif;
    font-size: x-large;
}


/* Input - text and config */

.input {
    display: grid;
}

.input-text {
    resize: none;
	height: 120px;
    padding: 10px;
    font-size: large;
}

.config {
    border: 3px solid whitesmoke;
    background-color: indianred;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}


/* TODO better colours */
.config:hover {
    background-color: violet;
}
.config:active {
    background-color: yellow;
}
/* TODO this has no effect because what we actually need to do is set the background
of the checkbox's parent... */
.config:checked {
    background-color: green;
}
/* TODO once the above works (or we have some other way of showing that a box is checked,
uncomment below */
/* .config input[type='checkbox']{
    appearance:none;
} */

/*TODO can we get this exact layout without hardcoding row and column numbers? */
.input-text {
    grid-row: 1;
    grid-column: 1 / 3;
}
.indentation {
    grid-column: 1;
    grid-row: 2;
}
.initial-indent {
    grid-column: 1;
    grid-row: 3;
}
.page-width {
    grid-column: 1;
    grid-row: 4;
}
.compact {
    grid-column: 2;
    grid-row: 2;
}
.compact-parens {
    grid-column: 2;
    grid-row: 3;
}
.string-style {
    grid-column: 2;
    grid-row: 4;
}


/* Output */

.output-text, .output-text * {
    color: white; /* for unannotated text e.g. data constructors */
    font-family: monospace;
}

/* Annotations */
.annotation {
    font-weight: bold;
}
.parens0 {
    color: #f15acc
}
.parens1 {
    color: #fffb88;
}
.parens2 {
    color: #54c7e0;
}
.quote {
    color: #ffffff;
}
.string {
    color: #2578bd;
}
.num {
    color: #83e377;
}
