textarea, input, button, select, option { /* don't use the OS/browser style */
  font-family: inherit;
  font-size: inherit;
  text-align: inherit;
  color: inherit;
}
input[type='checkbox'] {
  height: 2rem;
  width: 2rem;
}
input[type='range'] {
  width: 7rem;
}
select {
  padding: 0.5rem;
  width: 10rem;
}

:root {
    font-size: large;
    --ui-color: #2578bd;
}

body {
  background-color: #2c2f33;
  accent-color: var(--ui-color);
  caret-color: var(--ui-color);
  font-family: Helvetica, Arial, sans-serif;
}

.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
}

.input {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.hackage {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.hackage img {
  width: 100%;
  height: 100%;
}

.input-text {
  height: 6rem;
  width: 100%;
  resize: none;
}

.opts {
  user-select: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.opts > * {
  color: var(--ui-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  text-align: center;
}

.output {
  color: white; /* for unannotated text e.g. data constructors */
  margin-top: 0;
  margin-bottom: 0;
}
.annotation {
  font-weight: bold;
}
.parens0 {
  color: #f15acc
}
.parens1 {
  color: #fffb88;
}
.parens2 {
  color: #54c7e0;
}
.quote {
  color: #ffffff;
}
.string {
  color: #2578bd;
}
.num {
  color: #83e377;
}
