body {
    background-color: #2c2f33;
    font-family: Helvetica, Arial, sans-serif;
    font-size: x-large;
    color: white;
}

.annotation {
    font-weight: bold;
}

.parens0 {
    color: #f15acc
}

.parens1 {
    color: #fffb88;
}

.parens2 {
    color: #54c7e0;
}

.quote {
    color: #ffffff;
}

.string {
    color: #2578bd;
}

.num {
    color: #83e377;
}
